In [26]:
import os
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd
import zipfile

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [27]:
zf = zipfile.ZipFile('titanic.zip')

In [28]:


if os.path.exists('prediction.csv'):
    os.remove('prediction.csv')
else:
    print('file not here')

file not here

In [29]:
df_test = pd.read_csv(zf.open('test.csv'))
df_train = pd.read_csv(zf.open('train.csv'))

df_test['Sex_new'] = (df_test['Sex']== 'female').astype(int)
df_train['Sex_new'] = (df_train['Sex']== 'female').astype(int)

#df_test = df_test.dropna()
df_train = df_train.dropna()

df_train.sample(10, random_state=44)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_new
449,450,1,1,"Peuchen, Major. Arthur Godfrey",male,52.0,0,0,113786,30.5000,C104,S,0
218,219,1,1,"Bazzani, Miss. Albina",female,32.0,0,0,11813,76.2917,D15,C,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,1
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C,1
802,803,1,1,"Carter, Master. William Thornton II",male,11.0,1,2,113760,120.0000,B96 B98,S,0
252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S,0
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C,0
329,330,1,1,"Hippach, Miss. Jean Gertrude",female,16.0,0,1,111361,57.9792,B18,C,1
571,572,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S,1
609,610,1,1,"Shutes, Miss. Elizabeth W",female,40.0,0,0,PC 17582,153.4625,C125,S,1

In [30]:
#Features I want are Sex_new, Age, Pclass,Embarked the following line removes what I don't want

x = df_train.drop(["PassengerId", "Survived", "Name", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked", "Sex"], axis = 1)
x_testset = df_test.drop(["PassengerId", "Name", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked", "Sex"], axis = 1)
y = df_train["Survived"]

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 48)

rf_model = RandomForestClassifier(n_estimators=100, max_features="sqrt", random_state=25)
rf_model.fit(x_train, y_train)

RandomForestClassifier(random_state=25)

In [37]:
predictions = rf_model.predict(x_test)

In [33]:
rf_model.classes_

array([0, 1], dtype=int64)

In [36]:
importances = rf_model.feature_importances_
columns = x.columns
i=0

while i <len(columns):
    print (f" The importance of feature '{columns[i]}' is {round(importances[i]*100, 2)}%.")
    i += 1

 The importance of feature 'Pclass' is 4.76%.
 The importance of feature 'Age' is 64.55%.
 The importance of feature 'Sex_new' is 30.69%.

In [ ]:
test_set_P = rf_model.predict(x_testset)
print (test_set_P)

In [3]:
kaggle_Predictions = pd.DataFrame({
    "PassengerId":df_test.PassengerId,
    "Survived": test_set_P
})

NameError: name 'pd' is not defined

In [24]:
kaggle_Predictions.to_csv('RandomForestPrediction.csv')